
  body {background-color: palegoldenrod;}

  hr{
    border-style: dotted none none;
    border-color: pink;
    border-width: 10px;
    width: 10%;
  }
  h1 {color: brown;}
  h4{color:blue;}
  h2{color:brown;}
  h3{color:darkturquoise;}
  img{background-color: green;}
  p {font-size: 20px;
    color: black;}
  ul {font-size: 20px;}
  ol{font-size: 20px;}
  h6 {color: maroon;}
